<h3>Article info</h3>


<h4> Title:</h4>
<h4> <%= Article.title %> </h4>

<h4> Author:</h4>
<h4> <%= Article._author %> </h4>

<h4> Content: </h4>
<h4> <%= Article.content %> </h4>

<h4>Categories:</h4>
<h4> <%= Article.categories %> </h4>

<h4>Edits:</h4>
<h4> <%= Article.edits %> </h4>

<h4>Last update:</h4>
<h4> <%= Article.time %> </h4>