<%= article._id %>
<div class="page-header">
  <h1> <%= article.title %><small>Author:<%= article._author %> </small></h1>
</div>



<h4> Content: </h4>
<h4> <%= article.content %> </h4>

<h4>Categories:</h4>
<h4> <%= article.categories %> </h4>

<h4>Edits:</h4>
<h4> <%= article.edits %> </h4>

<h4>Last update:</h4>
<h4> <%= article.created %> </h4>