<%= article._id %>


<div class="container-fluid">
	<div class="col-md-4"></div>
</div>
<h5>Title: <%= article.title %> </h5>


<h5>Author: <%= article._author %> </h5>


<h5>Content: <%= article.content %> </h5>


<h5>Created: <%= article.createdAt %> </h5>

