<div class="card" style='padding:20px'>

<div class="row">

<form  action="/users/<%=user._id%>?_method=PATCH" method="post">
		<div class="row">
		<div class="input-field s12">
		<label for="Name">Author Name</label>
		<input type="text"
				name="user[fullName]"
				class="validate"
				placeholder="<%= user.fullName %>">
		</div>
		
		<div class="input-field s12">
		<label for="Username">Username</label>
		<input type="text"
				name="user[username]"
				class="validate"
				placeholder="<%= user.username %>">
		</div>
		<div class="input-field s12">
		<label for="Password">Password</label>
		<input type="text"
				name="user[password]"
				class="validate"
				placeholder="<%= user.password %>">
		</div>		
		<div class="input-field s12">
		<label for="Bio">Bio</label>
		<textarea class="materialize-textarea" 
					rows="3"
					name="user[bio]">"<%= user.bio %>"</textarea>
		</div>
		<button class="btn waves-effect waves-light z-depth-0" type="submit" name="action" style="margin-top:40px;">
		Submit</button>
	</div>
</form>

<form action="/users/<%= user._id %>?_method=DELETE" method="post">
 	<br>
 	<br>
 	<button class="btn waves-effect waves-light z-depth-0" type="submit" name="action" style="margin-top:40px;">
	Delete User</button>

</form>	

</div>
</div>