<form id="articleNew" action="/users/<%=user._id%>?_method=PATCH" method="post">
		
		<div class="form-group">
		<label for="Name">Author Name</label>
		<input type="text"
				name="user[fullName]"
				class="form-control"
				placeholder="<%= user.fullName %>">
		</div>
		
		<div class="form-group">
		<label for="Username">Username</label>
		<input type="text"
				name="user[username]"
				class="form-control"
				placeholder="<%= user.username %>">
		</div>
		<div class="form-group">
		<label for="Password">Password</label>
		<input type="text"
				name="user[password]"
				class="form-control"
				placeholder="<%= user.password %>">
		</div>		
		<div class="form-group">
		<label for="Bio">Bio</label>
		<textarea class="form-control" 
					rows="3"
					name="user[bio]">"<%= user.bio %>"</textarea>
		</div>
	<input type="submit">
</form>
 	<form action="/users/<%= user._id %>?_method=DELETE" method="post">
 	<br>
 	<br>
        <input type="submit" class="btn btn-default" value="Delete User">
     </form>	
</form>