<%= author._id %>
<div class="page-header">
  <h1> <%= author.title %> <br>
  <small>Name:<%= author.name %> </small></h1>
</div>

<div class="container-fluid">
	<div class="col-md-4"></div>
</div>

<h4> Username: </h4>
<h4> <%= author.username %> </h4>

<h4>Bio:</h4>
<h4> <%= author.bio %> </h4>

<h4>Photo:</h4>
<h4> <%= author.picture %> </h4>

`